<%= fields_for "election[election_sheets_attributes][#{election_sheet.persisted? ? election_sheet.id : election_sheet.object_id}]", election_sheet do |ff| %>
  <fieldset>
    <Legend>Karta</Legend>

    <div>
      <%= ff.label :name %>
      <%= ff.text_field :name %>
    </div>

    <div>
      <%= ff.label :description %>
      <%= ff.text_field :description %>
    </div>

    <div>
      <%= ff.label :max_votes_per_user %>
      <%= ff.number_field :max_votes_per_user %>
    </div>

    <div>
      <%= ff.label :max_votes_per_candidate %>
      <%= ff.number_field :max_votes_per_candidate %>
    </div>

    <div>
      <%= ff.label :requires_all_votes_spent %>
      <%= ff.check_box :requires_all_votes_spent %>
    </div>

    <%= ff.hidden_field :id %>
  </fieldset>
<% end %>