<%= turbo_frame_tag dom_id(election_sheet) do %>
  <div class="my-5 relative bg-white shadow rounded-md border border-gray-200 p-4 flex flex-col justify-center gap-y-4">
    <% if sheet_has_been_voted %>
      <div class="w-full h-full absolute top-0 left-0 z-999 bg-white bg-opacity-60 grid items-center text-center text-3xl font-bold">
        Oddano głos
      </div>
    <% end %>
    <h3 class="m-0 p-0">Karta nr. <%= index + 1 %></h3>

    <h4 class="m-0 p-0"><%= election_sheet.name %></h4>

    <p><%= election_sheet.description %></p>

    <span>Do wykorzystania: <span><%= election_sheet.max_votes_per_user %></span> głosów.</span>
    <span>Maksymalna ilość głosów na kandydata: <span><%= election_sheet.max_votes_per_candidate %></span> głosów.</span>
    <% if election_sheet.requires_all_votes_spent %>
      <span>Wymagane jest wydanie wszystkich głosów</span>
    <% end %>

    <% unless validation_error.zero? %>
      <p class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 ">
        <% case validation_error
          when 1 %>
            Wydano w sumie więcej głosów niż <%= election_sheet.max_votes_per_user %>
          <% when 2 %>
            Wydano więcej głosów na jednego kandydata niż <%= election_sheet.max_votes_per_candidate %>
          <% when 3 %>
            Należy wydać dokładnie <%= election_sheet.max_votes_per_user %> głosów
        <% end %>
      </p>
    <% end %>

    <%= form_with(url: vote_election_sheet_path(election_sheet), class: 'py-2') do |form| %>
      <div class="my-4">
        <% election_sheet.election_sheet_candidates.each do |candidate| %>
          <div class="flex justify-between gap-x-4 my-4 w-4/5">
            <%= candidate.name %>
            <%= form.hidden_field :election_candidate_id, value: candidate.id, multiple: true %>
            <%= form.number_field :votes, min: 0, class: "form-input", multiple: true %>
          </div>
        <% end %>
      </div>
      <% if sheet_has_been_voted %>
        <div class="h-16 w-full"></div>
      <% else %>
        <%= form.submit "Oddaj głos w tej karcie", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer" %>
      <%  end %>
    <% end %>
  </div>
<% end %>