<%= turbo_frame_tag "content" do %>
  <% if policy(Election).index? %>

    <h3>Lista wyborów</h3>

    <div class="w-full grid grid grid-cols-3 bg-white border-gray-300">
      <%= link_to(
            'Zeszłe',
            elections_recent_path,
            class: "py-6 col-span-1 hover:bg-gray-100 #{@highlighted_item == 1 ? 'bg-gray-100' : ''}",
      )%>
      <%= link_to(
            'Aktualne',
            elections_current_path,
            class: "py-6 col-span-1 hover:bg-gray-100 #{@highlighted_item == 2 ? 'bg-gray-100' : ''}",
      )%>
      <%= link_to(
            'Przyszłe',
            elections_upcoming_path,
            class: "py-6 c  ol-span-1 hover:bg-gray-100 #{@highlighted_item == 3 ? 'bg-gray-100' : ''}",
      )%>
    </div>
    <div class="pt-4">
      <div class="my-5 bg-white shadow rounded-md border border-gray-200 max-h-[30rem] overflow-x-visible overflow-y-auto pb-2 px-4 w-full grid grid-cols-12 gap-x-2 gap-y-2 min-h-6">
        <div class="border-b-2 border-gray col-span-12 grid grid-cols-12 py-2 font-bold">
          <div class="col-span-2 flex flex-row justify-start">
            ID
          </div>
          <div class="col-span-6 flex flex-row justify-start min-h-6">
            Nazwa
          </div>
          <div class="col-span-4 flex flex-row justify-center min-h-6 ">
            Akcje
          </div>
        </div>
        <% if @elections.exists? %>
          <% @elections.each do |e| %>
            <% can_vote = policy(e).vote? %>
            <div class="col-span-2 flex flex-row justify-start self-center">
              <%= e.id %>
            </div>
            <div class="<%= can_vote ? 'col-span-4' : 'col-span-6' %> flex flex-row justify-start self-center">
              <%= e.name %>
            </div>
            <div class="<%= can_vote ? 'col-span-6' : 'col-span-4' %> flex flex-row justify-around self-center">
              <% if policy(e).results? %>
                <%= link_to results_election_path(id: e.id) do %>
                  <i class="fa-xl fa-solid fa-square-poll-horizontal" title="Wyniki"></i>
                <% end %>
              <% end %>
              <% if policy(e).pdf? %>
                <%= link_to pdf_election_path(id: e.id), data: {turbo: false}  do %>
                  <i class="fa-xl fa-solid fa-file-pdf" title="Wyniki PDF"></i>
                <% end %>
              <% end %>
              <% if can_vote %>
                <%= link_to vote_election_path(id: e.id) do %>
                  <i class="fa-xl fa-solid fa-check-to-slot" title="Głosowanie"></i>
                <% end %>
              <% end %>
              <% if policy(Election).new? %>
                <%= link_to edit_election_path(id: e.id) do %>
                  <i class="fa-xl fa-solid fa-pen-to-square" title="Edycja"></i>
                <% end %>
              <% end %>
              <% if policy(Election).destroy? %>
                <%= button_to e, method: :delete do %>
                  <i class="fa-xl fa-solid fa-trash" style="color: #000000;" title="Usunięcie"></i>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="col-span-12 flex flex-row justify-center text-gray italic">
            Brak
          </div>
        <% end %>
      </div>
    </div>
    <% if policy(Election).new? %>
      <%=
        link_to(
          "Nowe wybory",
          new_election_path,
          class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium",
          data: { turbo_frame: "new_elections_frame" }
        )
      %>
    <% end %>
  <% end %>
<% end %>
