<!DOCTYPE html>
<html>
<head>
  <%= wicked_pdf_stylesheet_link_tag "tailwind" -%>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
      *
      {
        -webkit-print-color-adjust: exact;
      }
      html
      {
          padding: 0 !important;
      }
      html, body
      {
          width: 210mm;
      }
      body
      {
          margin:0 !important;
      }
      .nobreak
      {
          page-break-inside: avoid;
      }
      .nobreak:before
      {
          clear:both;
      }
  </style>
</head>
  <body class="flex flex-col text-center">
    <div class="w-1/2 ml-auto pb-8">
      <div class="text-right pb-2">
        <span class="block font-bold">
          Data wygenerowania:
        </span>
        <span class="block">
          <%= DateTime.now.to_s %>
        </span>
      </div>
      <div class="text-right pb-2">
        <span class="block font-bold">
          SHA-256:
        </span>
        <span class="block">
          <% sha_str = Digest::SHA256.hexdigest @election.to_json %>
          <span><%= sha_str[0...32] %></span>
          <span><%= sha_str[32..-1] %></span>
        </span>
      </div>
    </div>

    <h1><b>Wyniki głosowania</b></h1>
    <h3><i><%= @election.name %></i></h3>

    <div>
      <% @election.election_sheets.each do |election_sheet| %>
        <% total_voters_eligible = election_sheet.election.users.distinct.count %>
        <% voters = election_sheet.election_sheet_user_votes.count %>
        <% total_votes_on_candidates = election_sheet.election_sheet_candidates.sum(:votes) %>
        <div class="nobreak my-5 relative bg-white rounded-md flex flex-col justify-center pt-8">
          <h3 class="m-0 p-0"><b>Karta do głosowania</b></h3>

          <h4 class="m-0 p-0"><i><%= election_sheet.name %></i></h4>

          <p><%= election_sheet.description %></p>
          <br/>

          <span>Do wykorzystania: <span><%= election_sheet.max_votes_per_user %></span> głosów.</span><br/>
          <span>Maksymalna ilość głosów na kandydata: <span><%= election_sheet.max_votes_per_candidate %></span> głosów.</span><br/>
          <% if election_sheet.requires_all_votes_spent %>
            <span>Wymagane było wydanie wszystkich głosów</span><br/>
          <% end %>
          <br/>

          <span>
          Frekwencja w ramach tej karty wynosi:
          <b><%= number_to_percentage(100 * voters / total_voters_eligible.to_d, precision: 2) %></b><br/>
          Jest to <b><%= voters %></b> głosujących z <b><%= total_voters_eligible %></b> uprawnionych do głosowania
          </span>
          <br/>
          <span>Łącznie oddano <b><%= total_votes_on_candidates %></b> głosów na kandydatów</span>
          <br/>
          <br/>

          <table class="w-full">
            <thead>
            <tr>
              <th class="p-2">Nr.</th>
              <th class="p-2">Kandydat</th>
              <th class="p-2">Głosy</th>
              <th class="p-2">Procent</th>
            </tr>
            </thead>
            <tbody>
            <% election_sheet.election_sheet_candidates.order(votes: :desc).each_with_index do |candidate, index| %>
              <% percent = (100.0 * candidate.votes / total_votes_on_candidates).to_d %>
              <% row_bg = index % 2 == 0 ? 'background-color: #efefef !important;' : ''%>
              <tr>
                <td class="p-2" style="<%= row_bg %>"><%= index + 1%></td>
                <td class="p-2" style="<%= row_bg %>"><%= candidate.name %></td>
                <td class="p-2" style="<%= row_bg %>"><%= candidate.votes %></td>
                <td class="p-2" style="<%= row_bg %>"><%= number_to_percentage(percent, precision: 2) %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </body>
</html>
