<%= fields_for "election[election_sheets_attributes][#{turbo_id_for(election_sheet)}]", election_sheet do |ff| %>
  <fieldset id="<%= turbo_id_for(election_sheet) %>" class="my-5 bg-white shadow rounded-md border border-gray-200 py-8 px-4 flex flex-col gap-y-4">
    <legend class="text-3xl font-bold float-left">Karta</legend>
    <div class="flex flex-col">
      <%= ff.label :name, "Nazwa" %>
      <%= ff.text_field :name %>
    </div>

    <div class="flex flex-col">
      <%= ff.label :description, "Opis" %>
      <%= ff.text_field :description %>
    </div>

    <div class="flex flex-col">
      <%= ff.label :max_votes_per_user, "Maksymalna liczba głosów na użytkownika" %>
      <%= ff.number_field :max_votes_per_user %>
    </div>

    <div class="flex flex-col">
      <%= ff.label :max_votes_per_candidate, "Maksymalna liczba głosów na kandydata" %>
      <%= ff.number_field :max_votes_per_candidate %>
    </div>

    <div class="flex justify-center align-center">
      <div>
        <%= ff.check_box :requires_all_votes_spent %>
        <%= ff.label :requires_all_votes_spent, "Wymagane jest wykorzystanie wszystkich głosów" %>
      </div>
    </div>

    <!-- KANDYDACI -->
    <div>
      <div id="election_sheet<%= turbo_id_for(election_sheet) %>_candidates">
        <%= render partial: 'election_sheet_candidates/election_sheet_candidate', collection: election_sheet.election_sheet_candidates, locals: { election_sheet: election_sheet } %>
      </div>

      <%=
        link_to(
          "Dodaj Kandydata",
          new_election_sheet_candidate_path(election_sheet_id: turbo_id_for(election_sheet)),
          data: { turbo_stream: true },
          class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"
        )
      %>
    </div>

    <%=
      button_tag(
        "Usuń Kartę",
        formaction: election_sheet_path(turbo_id_for(election_sheet)),
        formmethod: :delete, class: "rounded-lg py-3 px-5 bg-red-300 text-white inline-block font-medium cursor-pointer float-right"
      )
    %>

    <%= ff.hidden_field :id %>
  </fieldset>
<% end %>