<!DOCTYPE html>
<html lang="pl">
<head>
  <title>E-wybory</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="prose mx-auto bg-gray-200">
<%= render partial: 'shared/header' %>
<%= render partial: 'shared/navbar' %>
<%= render partial: 'shared/notification' %>
<main class="text-center">
  <%= yield %>
</main>
<footer class="my-10"></footer>
</body>
</html>
